#content-wrapper {
  background: #808080;
}
@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.selectable.songList .titleCell,
.selectable.smartList .titleCell {
    width: 30%;
    color: #000!important;
}

.selectable.smartList:hover {
  background: linear-gradient(90deg, #d7ffc9, #bdf9ff, #ffc9c9);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
  color: black!important;
}

.selectable.songList:hover {
  background: linear-gradient(90deg, #d7ffc9, #bdf9ff, #ffc9c9);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
  color: black!important;
}

#smartListTableSubHeader {
  color: black;
}

.songList th, .smartList th {
  background-color: #808080!important;
  color: #FFF!important;
}

.grid-rails .genericTile .detailsWrapper .secondaryTitle a,
.grid-rails .genericTile .detailsWrapperWithIndex .secondaryTitle a {
  color: black!important;
}

.grid-rails .genericTile .detailsWrapper .secondaryTitle a:hover,
.grid-rails .genericTile .detailsWrapperWithIndex .secondaryTitle a:hover {
  color: white!important;
}

.grid-rails .genericTile .detailsWrapper .secondaryTitle,
.grid-rails .genericTile .detailsWrapperWithIndex .secondaryTitle {
  color: white!important;
}

.horizontalTile .details .secondaryTitle,
.horizontalTile .details .secondaryTitle a,
.horizontalTile .detailsWithIndex .secondaryTitle,
.horizontalTile .detailsWithIndex .secondaryTitle a {
  color: black!important;
}

#dragonflyTransport .scrubberBackgroundContainer .scrubberBackground {
  opacity: 0.15!important;
  background-image: linear-gradient(90deg, #d7ffc9, #bdf9ff, #ffc9c9)!important;
	background-size: 400% 400%!important;
	animation: gradient 1s ease infinite!important;
}

#dragonflyTransport .playbackControls .nextButton:not(.disabled),
#dragonflyTransport .playbackControls .playButton:not(.disabled),
#dragonflyTransport .playbackControls .previousButton:not(.disabled) {
    color: #000#!important;
}

tr.currentlyPlaying .durationCell,
tr.currentlyPlaying .playCell:before,
tr.currentlyPlaying a,
tr.currentlyPlaying td,
tr.currentlyPlaying td.titleCell {
    color: #FFF!important;
}
