.gif {
  width: 70%;
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .gif {
    width: 100% !important;
    display: inline-block;
  }
}

#text-icon-github {
  font-size: calc(1rem + 0.8vw);
}