#content-wrapper {
  background: #808080;
}
@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

body {
  color:black!important;
}

.selectable {
  color: black;
}

.sortable {
  color: black;
}

.selectable.songList .titleCell,
.selectable.smartList .titleCell {
    width: 30%;
    color: #000!important;
}

.selectable.smartList:hover {
  background: linear-gradient(90deg, #d7ffc9, #bdf9ff, #ffc9c9);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
  color: black;
}

.selectable.songList:hover {
  background: linear-gradient(90deg, #d7ffc9, #bdf9ff, #ffc9c9);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
  color: black;
}

#smartListTableSubHeader {
  color: black;
}

.songList th, .smartList th {
  background-color: #808080!important;
  color: #FFF!important;
}

.grid-rails .genericTile .detailsWrapper .secondaryTitle a,
.grid-rails .genericTile .detailsWrapperWithIndex .secondaryTitle a {
  color: black!important;
}

.grid-rails .genericTile .detailsWrapper .secondaryTitle a:hover,
.grid-rails .genericTile .detailsWrapperWithIndex .secondaryTitle a:hover {
  color: white!important;
}

.grid-rails .genericTile .detailsWrapper .secondaryTitle,
.grid-rails .genericTile .detailsWrapperWithIndex .secondaryTitle {
  color: white!important;
}

.horizontalTile .details .secondaryTitle,
.horizontalTile .details .secondaryTitle a,
.horizontalTile .detailsWithIndex .secondaryTitle,
.horizontalTile .detailsWithIndex .secondaryTitle a {
  color: black!important;
}
