#content-wrapper {
  background: #808080;
}
@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.selectable {
  color: black;
}

.sortable {
  color: black;
}

.selectable.smartList:hover {
  background: linear-gradient(90deg, #d7ffc9, #bdf9ff, #ffc9c9);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
  color: black;
}

.selectable.songList:hover {
  background: linear-gradient(90deg, #d7ffc9, #bdf9ff, #ffc9c9);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
  color: black;
}

#smartListTableSubHeader {
  color: black;
}

#songsTabHeader {
  color: black;
}
